In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
## load data set
data = pd.read_csv('simulated_transaction_2024.csv')
## head
data.head()

,Date,Timestamp,Account No,Balance,Amount,Third Party Account No,Third Party Name
0,01/01/2023,00:00,678330503.0,2971.0,1584.0,NaN,Westport Care Home
1,01/01/2023,00:00,472213568.0,3792.0,1950.0,NaN,Barbiee Boutique
2,01/01/2023,00:00,472213568.0,3012.0,-780.0,283027736.0,NaN
3,01/01/2023,00:00,283027736.0,1787.0,780.0,472213568.0,NaN
4,01/01/2023,00:00,624500124.0,3226.0,1825.0,NaN,Fat Face

In [3]:
data.isnull().sum()

Date                         229
Timestamp                    251
Account No                   224
Balance                      246
Amount                       209
Third Party Account No    223764
Third Party Name            7079
dtype: int64

In [4]:
data.shape

(230596, 7)

In [7]:
# Convert 'Account No' column from float to integer, ignoring NaN values
data['Account No'] = data['Account No'].dropna().astype(int)

In [8]:
data['Account No'].isnull().sum()

224

In [11]:
# Convert unique account numbers to integers and remove scientific notation
unique_account_numbers_int = [int(num) for num in unique_account_numbers]

# Print the unique account numbers as integers
print("Unique Account Numbers:")
print(unique_account_numbers_int)

ValueError: cannot convert float NaN to integer

In [ ]:
## load data set
data1 = pd.read_csv('fake_transactional_data_24.csv')
## head
data1.head()

In [ ]:
# Load both datasets
data1 = pd.read_csv('fake_transactional_data_24.csv')
data2 = pd.read_csv('simulated_transaction_2024.csv')

# Extract unique account numbers from each dataset
unique_accounts_data1 = data1['from_totally_fake_account'].unique()
unique_accounts_data2 = data2['Account No'].unique()

# Convert unique account numbers to sets for easier comparison
unique_accounts_set1 = set(unique_accounts_data1)
unique_accounts_set2 = set(unique_accounts_data2)

# Check if the sets of unique account numbers intersect
if unique_accounts_set1.intersection(unique_accounts_set2):
    print("The datasets have common account numbers.")
else:
    print("The datasets do not have common account numbers.")